body {
  background-color: rgb(246	246	246);
}

.login p {
  text-align: right;
   line-height: 1.125em;
   margin-left: 0.75em;
   margin-top: 0.5em;
   font-size: 0.75em;
   white-space: nowrap;

}

.nav_list {
  line-height: 1.125em;
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
    word-wrap: break-word;
}
#center {
  text-align: center;
}
.right_img {
  float: right;
  padding: 5px;
}

.left {
  border: 1px solid #cedff2;
  padding: 1px;
  background-color: #f5fffa;
}
.left h3 {
    margin: 0.5em;
    background: #cef2e0;
    font-family: inherit;
    font-size: 120%;
    font-weight: bold;
    border: 1px solid #a3bfb1;
    color: #000;
    padding: 0.2em 0.4em;
  }

.left_img {
  float: left;
  padding: 5px;
}

.right h3 {
  margin: 0.5em;
  background: #cedff2;
  font-family: inherit;
  font-size: 120%;
  font-weight: bold;
  border: 1px solid #a3b0bf;
  color: #000;
  padding: 0.2em 0.4em;
}

.right {
  border: 1px solid #cedff2;
  padding: 1;

  background: #f5faff;

}

.rigth-align {
  text-align: right;
}

.bottom h3 {
  margin: 0.5em;
  background: #eeeeee;
  border: 1px solid #ddd;
  color: #222;
  padding: 0.2em 0.4em;
  font-size: 120%;
  font-weight: bold;
  font-family: inherit;
}

.bottom {
  background-color: white;
  overflow: auto;
  border: 1px solid #e2e2e2;
  overflow: auto;
  margin-top: 4px;
}


.purple {
  margin-top: 4px;
  border: 1px solid #ddcef2;
  background: #faf5ff;
  overflow: auto;
}

.purple h3 {
  margin: 0.5em;
  background: #ddcef2;
  font-family: inherit;
  font-size: 120%;
  font-weight: bold;
  border: 1px solid #afa3bf;
  color: #000;
  padding: 0.2em 0.4em;
}
